@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: #f8f9fa;
  font-family: "Inter", "Segoe UI", sans-serif;
}

.card {
  background-color: #fff;
}

.btn {
  border-radius: 8px !important;
}

input.form-control {
  border-radius: 6px;
}
